
        body{
            background-color: #F5F5F5;
            font-family: 'Almarai', sans-serif;
          }
  
  
  /*********************** Card ****/
  @page:left
{
     direction: ltr;
}
@page:right
{
     direction: rtl;
}
  .card {
    width: 560px;
    height: 211px;
    margin: 0 auto;
    margin-top: 36px;
    border-radius: 3px;
    box-shadow: 0px 9px 20px #0000008c;
    border: none;
}
    .card-title {
        margin-bottom: .75rem;
        float: right;
        position: absolute;
        right: 14px;
        color: white;
        font-size: 19px;
        top: 43px;
    }
    .card-text {
        font-size: 14px;
        color: #3c3c3c;
        margin: 0 auto;
        position: absolute;
        left: 13px;
        top: 70px;
        direction: rtl;
        width: 404px;
    }
  
    .card-img {

        position: absolute;
        right: 36px;
        top: 53px;
    }
    .card-img img {
        width: 113px;
        position: absolute;
        right: -19px;
        top: 7px;
        border-left: 1px solid gray;

    }
  
  /******* Card background ****/
  
      .card1 {
        }
  
      .card2 {
      }
  
      .card3{
      }