
        body{
            background-color: #F5F5F5;
            font-family: 'Almarai', sans-serif;
          }
  
  
  /*********************** Card ****/
  
    .card {
        width: 292px;
        height: 141px;
        margin: 0 auto;
        margin-top: 36px;
        border-radius: 3px;
        box-shadow: 0px 9px 20px #0000008c;
        border: none;
    }
  
    .card-title {
        margin-bottom: .75rem;
        float: right;
        position: absolute;
        right: 14px;
        color: white;
        font-size: 19px;
        top: 43px;
    }
    .card-text {
        /* margin: auto; */
        position: absolute;
        right: 18px;
        top: 76px;
        font-size: 14px;
        color: #3c3c3c;
    }
  
    .card-icon {
      width: 43px;
      height: 43px;
      border-radius: 50%;
      position: absolute;
      top: 13px;
      left: 35px;
      
  }
    .card-icon img{
      width: 42px;
        position: absolute;
        right: 9px;
        top: 9px;
    }
  
  /******* Card background ****/
  
      .card1 {
        background:linear-gradient(135deg, #DA4453 0%,#89216B 100%);    
        }
  
      .card2 {
      background:linear-gradient(135deg, #00B4DB 0%,#0083B0 100%);
      }
  
      .card3{
        background:linear-gradient(135deg, #fad961 0%,#f76b1c 100%);
      }